.msgAuthor {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    align-self: flex-end;
    align-items: flex-end;
}
.msgBot {
    background-color: lawngreen;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    align-self: flex-start;
}
.bgcAuthor {
    background-color: lightblue;
}
.bgc1{
    background-color: lawngreen;
}
.bgc2 {
    background-color:#FFFF00;
}

.bgc3 {
    background-color: #77b199;
}
.bgc4 {
    background-color:#27ae60;
}
.bgc5 {
    background-color:#2c3e50;
    color: white;
}
.bgc6 {
    background-color:#16a085;
}
.bgc7 {
    background-color:#472e32;
    color: white;
}
.bgc8 {
    background-color:#73a857;
}
.bgc9 {
    background-color:#9b59b6;
}