.msgAuthor {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    align-self: flex-end;
    align-items: flex-end;
}
.msgBot {
    background-color: lawngreen;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    align-self: flex-start;
}
.bgcAuthor {
    background-color: lightblue;
}
.bgc1{
    background-color: lawngreen;
}
.bgc2 {
    background-color:#FFFF00;
}