**/node_modules/
**/.vs
Students/.DS_Store
Students/Maria Vatolina/Project/.DS_Store
Students/Maria Vatolina/Project2/src/.DS_Store
Students/Maria Vatolina/Project2/.DS_Store
Students/Maria Vatolina/.DS_Store
Students/Maria Vatolina/.DS_Store
Students/Maria Vatolina/.DS_Store
Students/Maria Vatolina/Project5/.DS_Store
PROJECT/4/src/store/.DS_Store
