html,
body,
.app {
  height: 100%;
  margin: 0;
  padding: 0;
}


.layout {
  /* width: 550px; */
  display: flex;
  width: 100%;
  max-width: 700px;
  height: calc(100% - 70px);
  box-sizing: border-box;
  padding: 70px 2px 1px 2px;
  margin: auto;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px){
  .layout {
    width: 100%;
    height: calc(100% - 55px);
    padding: 55px 2px 1px 2px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
