/* // FIX Пересмотреть стили - тут нет класса register-container, есть дубль и т.п. */

.login-form {
  width: 70%;
  max-width: 400px;
  margin: auto;
}

.login-form {
  width: 100%;
}

.form-item {
  width: 100%;
}