footer {
  padding: 4px 8px;
  border-top: 1px solid #888;
}

.msg_body {
  width: 200px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid skyblue;
}

.msg_btn {
  margin: 4px;
  appearance: none;
  border: 2px solid transparent;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.msg_btn:hover {
  background: #1d49aa;
  border-color: #4676d7;
}

.msg_btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}