.chat-list {
  width: 29%;
  min-width: 200px;
}
.item-icon {
  min-width: 35px !important;
}
.del-icon {
  min-width: 30px !important;
}
.add-btn {}

.chat-list-item {
  width: 100%;
}

.blink {
  background-color: lightskyblue !important;
  animation: blink 1s ease-in-out infinite;
  transition: 0.3s;
}

.blink span {
  font-weight: bold !important;
}

.loading-circle {
  align-self: center;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  from {
    background-color: lightskyblue !important;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.08);
  }
  to {
    background-color: lightskyblue !important;
  }
}

@media screen and (max-width: 600px){
  .chat-list {
    width: 100%;
  }
}